nav {
    background-image: url(assets/images/banner_compressed.png);
    background-position: center, center;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 100%;
}


.banner {
    position: relative;
    text-align: center;
    image-rendering: pixelated;
    max-width: 1200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.banner .logo {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    align-self: center;
    height: 50%;
    width: auto;


    object-fit: cover;
    display: block;
    margin: auto;
}

.banner #motd-text {
    position: absolute;
    bottom: 17px;
    right: -302px;
    font-family: small;
    font-size: 14px;
}

.banner .button {
    background-image: linear-gradient(rgba(64, 64, 64, 0.7), rgba(0, 0, 0, 0.7)), url(assets/textures/button.png);
    background-color: #000000ff;
    opacity: 0.8; 
    border-radius: 4px;
    
    
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    margin: 1px;
}
.banner a{
    text-decoration: none;
}